html {
    scroll-behavior: smooth;
}
body
{
text-align: left;
width: 100vw;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
.page-wrap {
    /* background-color: rgb(49, 49, 49); */
    width: 100%;
    /* padding-top: 5rem; */
    
}
.blog-wrap {
    width: 100%;
    padding-top: 10rem;
    
}
/* .page-wrap .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */
#ttr_header {
    background-color: white;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    z-index:150;
    margin:0 auto;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    right:0;
    text-align: center; 
}
#ttr_sidebar
{
border-left: 1px solid black;
}
#ttr_footer
{
width: 100%;
height: 10rem;
border-top: 1px #a2a2a2 solid;
text-align: center;
}
.title
{
font-size: 11pt;
font-family: verdana;
font-weight: bold;
}
.container {
    width: 100vw;
    margin: 0;
    padding: 0;
}
.container p, h2, h3 {
    width: 100vw;
    padding: 0 10rem;
}
.container h2, h3 {
    padding-top: 8rem;
}
.container h2 {
    padding: 8rem 10rem 2rem 10rem;
}
.read-more {
    /* margin: 0 10rem; */
    text-align: right;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
header .top-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
}
/* .navbar {
    display: flex;
    align-items: center;
} */
.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    list-style: none;
    margin-right: 2rem;
}
.menu-item a {
    padding: 1rem;
    text-decoration: none;
    color: rgb(49, 49, 49);
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase; 
}
.menu-item a:hover {
    color: rgb(11, 184, 184);
}
#logo {
    text-decoration: none;
    color: rgb(49, 49, 49);
    cursor: pointer;
}
.logo {
    margin-right: auto;
    height: 100%;
    max-width: 20%;
}
.logo a {
    max-height: 100%;
    max-width: 100%;
}
.logo a img {
   display: block;
   max-width: 100%;
   max-height: 100%;
}
.wrapper {
    width: 100vw;
    height: 100%;
    margin: 0 auto;
}
#banner{
    background-size: cover;
    width: 100vw;
    height: 95vh;
}
#banner h1{
    font-size: 3em;
    margin-bottom: 10px;
}
#banner h2{
    font-size: 1.6em;
}
#banner button{
    background-color: #029cac;
    color: white;
    border: none;
    padding: 10px 20px;
}
.banner-msg{
    color: white;
    background-color: #029cac;
    margin-top: 160px;
    opacity: 0.8;
}
.post p{
    padding: 3rem 10rem;
    /* padding: 5rem; */
    /* color: white; */
    height: 100vh;
    width: 20rem;
    width: 80vw;
    overflow: auto;
}
.post-content {
    width: 80vw;
    height: 100vh;
    overflow: auto;
}
.wp-block-image {
    width: 100vw;
    height: 100%;
    overflow: hidden;
    margin: 0;
    background-size: cover;
}
.wp-block-image img {
    width: 100%;
    height: 100%;
}
.banner-container {
    width: 100vw;
    height: 100%;
    overflow: hidden;
    margin: 0;
    background-size: cover;
}
.banner-container img {
    width: 100%;
    height: 100%;
}
.tags {
    margin: 1rem 10rem;
}
.archive-container {
    width: 100vw;
    padding: 0 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-content {
    /* margin: 1rem; */
    width: 100vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.blog-content p, h2, h3 {
    padding: 0;
    width: 100%;
}