//COLORS

// $color-primary: #383838;
$color-primary: #333333;
$color-primary-light: #706f70;
$color-secondary: #3e59f0;
$color-secondary-light: #6b7799;
$color-white: #f6f1ee;

//FONT

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Playfair Display', serif;
$font-terciary: 'Noto Serif', serif;

//SHADOW

$shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
$shadow-light: 0 2rem 5rem rgba(0,0,0,.06);