.btn, .wp-block-button__link {
    background: transparent;
    color: $color-secondary !important;
    border: 1px solid $color-secondary !important;
    border-radius: 4px;
    font-size: 2.4rem;
    padding: 2rem 4rem;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 6rem 2rem 3rem 2rem;
    transition: all 0.2s;
    &:hover, :focus {
        color: white !important;
        background-color: $color-secondary;
    }
    @include respond(tab-land) {
        border: 1px solid $color-secondary;
        border-radius: 4px;
        font-size: 1.6rem;
        padding: 1.3rem 2.6rem;
        margin: 4rem;
    };
}