.hero, .wp-block-cover {
    width: 100vw;
    height: 100vh;
    position: relative;
    &__headline, &__inner-container {
        color: white;
        text-align: left;
        position: absolute;
        top: 35%;
        left: 0;
        margin-left: 2rem;
        @include respond(desktop) {
            margin-left: 6rem;
        };
        h1 {
            font-family: $font-secondary;
            font-size: 7rem;
            font-weight: 600;
            margin-bottom: 1.2rem;
            line-height: 1.1;
            width: 50%;
            opacity: 0;
            animation: slideIn 1.2s ease-out;
            animation-fill-mode: forwards;
            animation-delay: .8s;
            @include respond(tab-port) {
                width: 70%;
            }
            @include respond(desktop) {
                font-size: 8rem;
            }
        };
        h4 {
            font-family: $font-primary;
            font-weight: 200;
            font-size: 2.2rem;
            margin-left: 2.4rem;
            width: 80%;
            opacity: 0;
            animation: slideIn 1s ease-out;
            animation-fill-mode: forwards;
            animation-delay: 1.8s;
        }
    };
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
@keyframes slideIn {
    0% {
      transform: translateY(200%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }