.hero {
    width: 100vw;
    height: 100vh;
    position: relative;
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.64);
        animation: fadeIn 1s ease-in-out;
    };
    &__headline {
        color: white;
        text-align: left;
        position: absolute;
        top: 35%;
        left: 0;
        margin-left: 2rem;
    };
    &__headline-title {
        font-family: $font-secondary;
        font-size: 7rem;
        font-weight: 600;
        margin-bottom: 1.2rem;
        line-height: 1.1;
        width: 50%;
        @include respond(tab-port) {
            width: 70%;
        }
    };
    &__headline-subtitle p{
        font-family: $font-primary;
        font-weight: 200;
        font-size: 2.2rem;
        margin-left: 2.2rem;
        width: 80%;
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}