*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    text-align: left;
    width: 100vw;
    font-family: $font-primary;
    color: $color-primary;
};