.footer {
    width: 100vw;
    min-height: 50vh;
    background-color: $color-primary;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    &__nav {
        list-style-type: none;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    };
    .menu-item a{
        color: white;
        font-size: 1.4rem;
        font-weight: 100;
    }
};
.footer-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    @include respond(tab-port) {
        flex-direction: row;
        flex-wrap: wrap;
    };
};
.copyright {
    font-size: 1.2rem;
    font-weight: 100;
    margin-bottom: 1rem;
}