.main-container {
    max-width: 100vw;
}
.wrapper {
    padding: 4rem;
    // margin: 5rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include respond(tab-land) {
        padding: 5rem 10rem
    };
    @include respond(desktop) {
        padding: 5rem 15rem
    }
}
.section {
    min-height: 100vh;
    width: 100%;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &__about {
        @include respond(tab-port) {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding-top: 12rem;
        }
        & img {
            @include respond(tab-land) {
                min-width: 40%;
            }
        }
    };
    &__about-content {
        color: $color-primary;
        h2 {
            font-family: $font-secondary;
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
            font-weight: 700;
            font-size: 4rem;
            letter-spacing: 1.3;
            @include respond(tab-port) {
                margin-top: 0;
            }
        }
        p {
            font-size: 2.4rem;
            @include respond(tab-port) {
                font-size: 2rem;
            };
            @include respond(desktop) {
                font-size: 1.8rem;
            }
        }
        @include respond(tab-port) {
            padding: 0 3rem;
        }
    };
    // &__services {
    //     background-color: $color-primary;
    //     width: 100vw;
    //     margin: 0;
    //     padding: 6rem 10rem;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    //     h2{
    //         color: white;
    //         text-align: center;
    //     }
    // };
    // &__contact {
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    //     h2{
    //         text-align: center;
    //     }
    // };
    
    // &__services-content {
    //     color: white;
    //     // margin-left: 4rem;
    //     display: flex;
    //     flex-direction: row;
    //     flex-wrap: wrap;
    //     // justify-content: center;
    //     // align-items: center;
    //     h2 {
    //         font-family: $font-secondary;
    //         width: 100%;
    //         margin: 4rem;
    //         font-weight: 600;
    //         font-size: 3.5rem;
    //         letter-spacing: 1.3;
    //         // text-transform: uppercase;
    //     };
    //     .wp-block-group {
    //         width: 30%;
    //         margin: 4rem 1rem;
    //         font-weight: 100;
    //         &__inner-container {
    //             text-align: center;
    //         };
    //         h4 {
    //             color: $color-secondary;
    //             text-transform: uppercase;
    //             font-size: 1rem;
    //         }
    //     }
    // };
    // &__contact-content {
    //     display: flex;
    //     flex-direction: row;
    //     flex-wrap: wrap;
    //     h2 {
    //         font-family: $font-secondary;
    //         width: 100%;
    //         margin: 3rem;
    //         font-weight: 600;
    //         font-size: 2.5rem;
    //         letter-spacing: 1.3;
    //     };
    // }
}